<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 13px Helvetica, Arial;
    }

    form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    form input {
      border: 0;
      padding: 10px;
      width: 90%;
      margin-right: .5%;
    }

    form button {
      width: 9%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages li {
      padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
      background: #eee;
    }
  </style>
</head>

<body>
  <div id="app">
    <name-component v-if="!$store.getters.signedIn" id="nameComp"></name-component>
    <post-component v-if="$store.getters.signedIn" id="postComp"></post-component>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/vuex@4"></script>

  <script>
    // init ui

    // Initialize Socket.IO connection
    var socket = io();


    // put the raw data onto the DOM and log it to the console
    const plugin = function createWebSocketPlugin() {
      return (store) => {
        // Await post update from Server
        socket.on('serverReply', function (post) {
          // Log the received message
          console.log("Received:", post);
          // Append the message to the list
          //$('#messages').append($('<li>').text(post));
          store.commit('update_posts', post)
        });

      }
    }
    const store = Vuex.createStore({
      state() {
        return {
          allPosts: [],
          user: [],
          signedIn: false
        }
      },

      mutations: {
        update_posts(state, data) {
          state.allPosts = data;
        },
        set_name(state, data) {

          // set data
          console.log("Mutations Set name data:", data)
          state.signedIn = true;
          state.user = data;
          
        }
      },
      getters: {
        filteredPosts: state => {
          let x = state.allPosts;
          let returnData = x;

          return returnData;
        },
        names: state => {
          let x = state.name;
          let returnData = x;

          return returnData;
        },
        signedIn: (state) => state.signedIn,
      },

      plugins: [plugin()],
    });
    // 5. Create and mount the root instance.
    const app = Vue.createApp({})


    app.component('name-component', {
      computed: {
        datas() {
          return this.$store.getters.names;
        }
      },
      methods: {
        submitName() {
          // Get input value
          var name = $('#name').val();

          // Log the message
          console.log("Name:", name);

          axios.post('/submitName', { name })
            .then((response) => {
              var { name, user_id } = response.data.userData;
              var posts = response.data.posts;
              console.log("POSTS",response.data.posts);
              console.log(posts.length);
              this.$store.commit('set_name', { name, user_id ,posts});
              if (posts.length>0){
                this.$store.commit('update_posts', {posts});
              }
            })
            .catch((error) => {
              console.error(error);
            });
        }
      },
      template: `  
        <div id="loginContainer">
          <form @submit.prevent="submitName">
            <input value="John" type="text" id="name" autocomplete="given-name" /> 
            <button >Submit Name</button>
          </form>
        </div>`
    });


    app.component('post-component', {
      computed: {
        posts() {
          return this.$store.getters.filteredPosts;
        },
        datas() {
          return this.$store.state.user;
        }
      },
      methods: {
        submitPost() {

          // Get input value
          var post = $('#post').val();


          if (post) {
            // Log the message
            console.log(post);
            // Emit 'sentPost' event to the server
            socket.emit('sentPost', { post, userData: this.$store.state.user });
            // Clear the input field
            $('#post').val('');
          }

        }
      },
      template: `  
      <div>
        <p>{{datas.name}}</p>
        <p>{{datas.user_id}}</p>
        <ul id = "messages">
          <li v-for="post in posts">{{post}}</li>
        </ul>
        <form @submit.prevent="submitPost">
          <input type="text" id="post" autocomplete="off" /> <button>Submit</button>
        </form>
      </div>`
    });


    app.use(store)
    app.mount('#app')

  </script>
</body>

</html>